/* table border */
#supa_police div div table thead tr th{
    border: 1px solid black;
    
}
#supa_police div div table tbody tr td{
    border: 1px solid black;
}

.data-card div{
    overflow: auto;
}
.my-pie div #pie-chart {
    display: none;
}
.year label{
    font-size: 13px;
}
.male_num div{
    height: 10px;
    width: 40px;
    margin-left: 120px;
    background-color: #007bff;
}
.male_num div::after{
    content: "पुरुष";
    position: absolute;
    left: 165px;
    top: -5px;
    font-size: 12px;
}
.female_num div{
    height: 10px;
    width: 40px;
    margin-left: 40px;
    background-color: #dc3545;
}
.female_num div::after{
    content: "महिला";
    position: absolute;
    left: 245px;
    top: -5px;
    font-size: 12px;
}
.data2068 div{
    height: 10px;
    width: 40px;
    margin-left: 220px;
    margin-top: 10px;
    background-color: #007bff;
}
.data2068 div::after{
    content: "2068";
    position: absolute;
    left: 275px;
    top: 5px;
    font-size: 12px;
}

.data2078 div{
    height: 10px;
    width: 40px;
    margin-left: 1px;
    margin-top: 10px;
    background-color: #dc3545;
}
.data2078 div::after{
    content: "2078";
    position: absolute;
    left: 60px;
    top: 5px;
    font-size: 12px;
}
.page-title{
    margin-top: -30px;
}
#table_1{
    margin-top: -100px;
}